<h3 class="ui header">{{t "forms.i-i-s-proekt-справ-сотр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фио
      class=(if (v-get validationModel "фио" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-справ-сотр-e.фио-caption")
      data-test-i-i-s-proekt-справ-сотр-e-фио=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фио" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-справ-сотр-e.справДолж-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.справДолж
      relationName="справДолж"
      projection="СправДолжL"
      title=(t "forms.i-i-s-proekt-справ-сотр-e.справДолж-caption")
      readonly=readonly
      componentName="справДолжLookup"
      class=(if (v-get validationModel "справДолж" "isInvalid") "error")
      data-test-i-i-s-proekt-справ-сотр-e-справДолж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "справДолж" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.справДолж.должность
      class=(if (v-get validationModel.справДолж "должность" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-справ-сотр-e.справДолж.должность-caption")
      data-test-i-i-s-proekt-справ-сотр-e-справДолж-должность=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.справДолж "должность" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-справ-сотр-e.классУч-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.классУч
      relationName="классУч"
      projection="КлассУчL"
      title=(t "forms.i-i-s-proekt-справ-сотр-e.классУч-caption")
      readonly=readonly
      componentName="классУчLookup"
      class=(if (v-get validationModel "классУч" "isInvalid") "error")
      data-test-i-i-s-proekt-справ-сотр-e-классУч=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "классУч" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.классУч.назв
      class=(if (v-get validationModel.классУч "назв" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-справ-сотр-e.классУч.назв-caption")
      data-test-i-i-s-proekt-справ-сотр-e-классУч-назв=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.классУч "назв" "message")}}
  </div>
</form>
