<h3 class="ui header">{{t "forms.i-i-s-proekt-приход-уход-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-приход-уход-e.справУч-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.справУч
      displayAttributeName="фио ученика"
      autocomplete=true
      relationName="справУч"
      projection="СправУчL"
      title=(t "forms.i-i-s-proekt-приход-уход-e.справУч-caption")
      readonly=readonly
      componentName="справУчLookup"
      class=(if (v-get validationModel "справУч" "isInvalid") "error")
      data-test-i-i-s-proekt-приход-уход-e-справУч=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "справУч" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.справУч.фио
      class=(if (v-get validationModel.справУч "фио" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.справУч.фио-caption")
      data-test-i-i-s-proekt-приход-уход-e-справУч-фио=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.справУч "фио" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.справУч.классУч.назв
      class=(if (v-get validationModel.справУч.классУч "назв" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.справУч.классУч.назв-caption")
      data-test-i-i-s-proekt-приход-уход-e-справУч-классУч-назв=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.справУч.классУч "назв" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.справУч.номер.наименование
      class=(if (v-get validationModel.справУч.номер "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.справУч.номер.наименование-caption")
      data-test-i-i-s-proekt-приход-уход-e-справУч-номер-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.справУч.номер "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.справУч.справРод.фио
      class=(if (v-get validationModel.справУч.справРод "фио" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.справУч.справРод.фио-caption")
      data-test-i-i-s-proekt-приход-уход-e-справУч-справРод-фио=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.справУч.справРод "фио" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-приход-уход-e.расписание-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.расписание
      displayAttributeName="номер урока"
      autocomplete=true
      relationName="расписание"
      projection="РасписаниеL"
      title=(t "forms.i-i-s-proekt-приход-уход-e.расписание-caption")
      readonly=readonly
      componentName="расписаниеLookup"
      class=(if (v-get validationModel "расписание" "isInvalid") "error")
      data-test-i-i-s-proekt-приход-уход-e-расписание=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "расписание" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.расписание.урок
      class=(if (v-get validationModel.расписание "урок" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.расписание.урок-caption")
      data-test-i-i-s-proekt-приход-уход-e-расписание-урок=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.расписание "урок" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.расписание.периодОт
      class=(if (v-get validationModel.расписание "периодОт" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.расписание.периодОт-caption")
      data-test-i-i-s-proekt-приход-уход-e-расписание-периодОт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.расписание "периодОт" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.расписание.периодДо
      class=(if (v-get validationModel.расписание "периодДо" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.расписание.периодДо-caption")
      data-test-i-i-s-proekt-приход-уход-e-расписание-периодДо=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.расписание "периодДо" "message")}}
  </div>
  <div class="field" data-test-i-i-s-proekt-приход-уход-e-статус="true">
    <label>{{t "forms.i-i-s-proekt-приход-уход-e.статус-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-proekt-статус")
      value=model.статус
      class=(if (v-get validationModel "статус" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "статус" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.врПриУх
      class=(if (v-get validationModel "врПриУх" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-приход-уход-e.врПриУх-caption")
      data-test-i-i-s-proekt-приход-уход-e-врПриУх=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "врПриУх" "message")}}
  </div>
</form>
